@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.cardamomo.news/__export/1649458472669/sites/debate/img/2022/04/08/salsa_de_botella_casera_estilo_valentina.png_423682103.png" width="600" height="600" />
    <h1 class="display-4">Bienvenido</h1>
    <p>Sistema para gener ordenes de salsas: DEMO.</p>
</div>
